@media(max-width: 576px){
    .caixa-principal{
        width: 20em;
    }

    .advice{
        margin: 2.8em 0 1.8em 0;
        font-size: 14px;
    }

    .conselhos{
        font-size: 17px;
        margin-bottom: 1.8em;
    }

    picture .divisoria-desktop{
        width: 260px;
        height: 17px;
    }

    .posicionamento-botao .botao{
        transform: translateY(70%);
    }
}

@media(max-width: 325px){
    .caixa-principal{
        width: 19em;
    }
    
    .posicionamento-botao .botao{
        transform: translateY(30%);
    }
}