@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;800&family=Lato:ital,wght@0,300;0,400;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}

.alinhamento-dos-elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--cor-de-fundo-dos-textos);
}

.advice, .numero-conselho{
    color: var(--cor-do-botao-textos);
    margin: 3em 0 2em 0;
    font-size: 15px;
    font-weight: 400;
}

.conselhos{
    color: var(--cor-dos-conselhos);
    padding: 0 60px;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: 800;
}

picture .divisoria-desktop{
    width: 280px;
    height: 14px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--cor-do-botao-textos);
    transform: translateY(50%);
}

.botao:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--cor-do-botao-textos);
}